body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.break{
  /* background: #32557f;
  width: 100px;
  height: 50px;
  border-radius: 50%;
  position:absolute; */
  border:20px solid rgb(255, 255, 255);
  border-radius:20px;
  /* position:absolute; */
  position: relative;
  animation-name: breaky;
  animation-duration: 4s;
}

@keyframes breaky {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;}
}
.dancer, .bulge, .blinkyDancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}


.bulge{
  border:10px solid rgb(195, 226, 18);
  border-radius:15px;
  position:absolute;
}

.blinkyDancer{
  border:10px solid rgb(255, 136, 0);
  border-radius:25px;
  position:absolute;
}